.legal-content-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.legal-content-container article {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.legal-content-container ol {
    list-style-position: inside;
}

.legal-content-container ol li {
    padding-left: 20px;
    text-indent: -20px;
}