.legal-content-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.legal-content-container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.legal-content-container ol,
.legal-content-container p {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.legal-content-container ol {
    list-style-position: inside;
}