.service-highlight {
    width: 100%;
    margin: 20px auto;
    padding: 32px;
    background: var(--blue);
    transition: all .3s;
}

.service-highlight:hover {
    cursor: pointer;
    transform: scale(1.1);
}