.service-highlight {
    width: 90%;
    margin: 20px auto;
    padding: 32px;
    background: var(--blue);
    border-radius: 20px;
    filter: drop-shadow(0 0 0.25rem var(--blue));
}

.service-highlight:first-child {
    transform: rotate(-2deg);
}

.service-highlight:last-child {
    transform: rotate(2deg);
}