/* Image */

.clickable-image {
    width: unset;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.clickable-image.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(100%) translate(-50%, -50%);
    z-index: 1000;
}

/* Backdrop */

.backdrop.active {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    backdrop-filter: blur(5px);
}