/* Hero content */

.service-page-hero .content-wrapper {
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .service-page-hero .content-wrapper {
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .service-page-hero .content-wrapper {
        max-height: 250px;
        margin: 40px 0 0 0;
        gap: 60px;
    }
}

.service-page-hero .content-wrapper > * {
    flex: 1;
}

/* --Hero image content */

.service-page-hero .image-wrapper {
    max-width: 335px;
}

/* --Hero text content */

.service-page-hero .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}