/* Navbar */

.navbar {
    position: absolute;
    z-index: -10;
    width: 100%;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
    hyphens: none;
    transition: transform 0.3s ease-in-out;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .navbar ul {
        flex-direction: row;
    }
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.visible {
    transform: translateY(0);
}

@media (hover: hover) and (pointer: fine) {
    .navbar.hidden,
    .navbar.visible {
        transform: none;
    }
}

/* Nav items */

.nav-item {
    list-style-type: none;
}

/* Nav links */

.nav-link {
    padding: 10px 40px;
    display: block;
    text-align: center;
    transition: all .3s;
}

@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

.nav-link:active {
    background: rgba(255, 255, 255, 0.5);
}