.navbar {
    margin: 40px 0 0 0;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
    hyphens: none;
}

@media screen and (min-width: 585px) {
    .navbar {
        margin: 0;
    }
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .navbar ul {
        flex-direction: row;
    }
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    padding: 10px 40px;
    display: block;
    text-align: center;
    transition: background .3s;
}

@media (hover: hover) and (pointer: fine) {
    .nav-link:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

.nav-link:active {
    background: rgba(255, 255, 255, 0.5);
}