.tabs {
    margin-top: 40px;
}

/* Tab buttons */

.tabs ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    list-style: none;
}

@media screen and (min-width: 800px) {
    .tabs ul {
        flex-direction: row;
    }
}

.tabs ul > li {
    flex: 1;
    border: 1px solid var(--light-blue);
}

.tabs ul li button {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background: var(--white);
    transition: all .3s;
}

@media (hover: hover) and (pointer: fine){
    .tabs ul li button:hover {
        cursor: pointer;
        color: var(--white);
        background: var(--light-blue);
    }
}

.tabs ul li.active button {
    color: var(--white);
    background: var(--blue);
}

/* Tab content */

.tabs .service-page-tab {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 585px) {
    .tabs .service-page-tab {
        padding: 24px;
    }
}

/* --Tab text content */

.tabs .service-page-tab .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* --Tab image content */

.tabs .service-page-tab .images-wrapper {
    display: flex;
    justify-content: center;
    row-gap: 40px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .tabs .service-page-tab .images-wrapper {
        column-gap: 40px;
    }
}