@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

button,
input,
textarea {
  font-family: inherit;
}

/* Colors */

:root {
  --blue: #504768;
  --light-blue: #504768A8;
  --gray: #666;
  --light-gray: #f0f0f0;
  --white: #FFF;
  --gradient-start: #32346A;
  --gradient-middle: #D7316D;
  --gradient-end: #F9E129;
  --error: #ff3333;
  --success: #86d439;
}

/* Typography */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  hyphens: auto;
  word-wrap: break-word;
}

/* --Headings */

[class^="heading"] {
  color: var(--blue);
  font-weight: 700;
  line-height: 100%;
}

.heading-1 {
  /* ----Company name */
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 353px) {
  .heading-1 {
    font-size: 2.3rem;
  }
}

.heading-2 {
  /* ----Page title */
  font-size: 2rem;
  text-align: center;
}

.heading-3 {
  /* ----Tab title, article title */
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .legal-content-container .heading-3 {
    text-align: left;
  }
}

.active .heading-3 {
  color: var(--white);
}

/* --Paragraphs */

[class^="paragraph"] {
  color: var(--gray);
  line-height: 100%;
}

.paragraph-1 {
  /* ----Regular paragraph */
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .paragraph-1 {
    text-align: left;
  }
}

.paragraph-2 {
  /* ----Company description */
  font-size: .5rem;
  text-align: right;
}

@media screen and (min-width: 353px) {
  .paragraph-2 {
    font-size: .75rem;
    
  }
}

@media screen and (min-width: 768px) {
  .paragraph-2 {
    font-size: .8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph-2 {
    font-size: 1.25rem;
  }
}

.paragraph-3 {
  /* ----Service highlight */
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.paragraph-4 {
  font-size: 0.8125rem;
  color: var(--white);
  font-style: italic;
}

.strong {
  font-size: 1.2rem;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

/* --Links */

.link-1 {
  /* ----Nav link */
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

.link-2 {
  /* ----Footer link */
  font-size: 0.8125rem;
  color: var(--white);
  text-decoration: none;
}

/* --Buttons */

.button-1 {
  /* ----Regular button */
}

/* Images */

img {
  width: 100%;
  display: block;
}